.aboutWrapper {
  width: 100vw;
  height: 100vh;
  background: url(./../../styling/halacious.jpg);
  background-size: cover;
}

.about-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}